body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #422f90;
}

h1 {
    color: #36e46a; /* Color del título en verde */
}

h2, h3 {
    color: #007bff; /* Color de subtítulos en azul */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #54b62d; /* Color de fondo para encabezados */
    color: white;
}

td {
    background-color: #45aa4a; /* Color de fondo para celdas */
}

.carousel-item img {
    width: 70%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen */
    max-height: 400px; /* Altura máxima para limitar el tamaño */
    object-fit: cover; /* Asegura que la imagen no se deforme */
    border-radius: 10px; /* Mantén el borde redondeado */
}

button {
    margin: 0 5px;
}

.btn-primary {
    background-color: #d1d335; /* Color de fondo del botón normal (amarillo) */
    border-color: #e2af4f; /* Color de borde del botón normal */
}

.btn-primary:hover {
    background-color: #d1d335; /* Color de fondo al pasar el ratón */
    border-color: #e2af4f; /* Color de borde al pasar el ratón */
}

.btn-danger {
    background-color: #ef9a9a; /* Color de fondo del botón de peligro (rojo) */
    border-color: #ef9a9a; /* Color de borde del botón de peligro */
}

.btn-danger:hover {
    background-color: #e57373; /* Color de fondo al pasar el ratón */
    border-color: #c10eb8; /* Color de borde al pasar el ratón */
}
