/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif; /* Uniformidad en la fuente */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

/* Sección Hero */
.hero {
    background-image: url('/static/img/informe.jpg'); /* Cambia la imagen según sea necesario */
    background-size: cover;
    background-position: center;
    height: 70vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    animation: fadeIn 2s ease-in;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

/* Botones */
.btn-free, .btn-premium {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-free:hover, .btn-premium:hover {
    background-color: #17a34a;
}

/* Animación de Fade */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Sección de Precios */
.pricing-section {
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.pricing-table {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.plan:hover {
    transform: translateY(-10px);
}

.plan h2 {
    color: #1DB954;
    margin-bottom: 20px;
}

.plan .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan ul li {
    margin: 5px 0;
}
