{% extends "base.html" %}

{% block title %}Gestión de Software{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/software.css') }}">
{% endblock %}

{% block content %}
    <main>
        <!-- Botón para añadir nuevo software -->
        <button class="add-button" id="add-software-btn">Añadir Nuevo Software</button>
        
        <!-- Formulario para añadir/editar software -->
        <div id="software-form" style="display: none;">
            <form id="softwareForm">
                <input type="text" placeholder="Título" id="software-title">
                <input type="text" placeholder="Descripción" id="software-description">
                <textarea placeholder="Funciones" id="software-features"></textarea>
                <input type="text" placeholder="Precio" id="software-price">
                <input type="text" placeholder="URL de la imagen" id="software-image">
                <button type="submit">Guardar</button>
                <button type="button" id="cancelar-btn">Cancelar</button>
            </form>
        </div>

        <!-- Lista de productos -->
        <section id="product-list">
            <!-- Productos se cargarán aquí dinámicamente -->
        </section>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/RegistrarSoftware.js') }}"></script>
{% endblock %}
