{% extends "base.html" %}

{% block title %}Gestión de Software{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/software.css') }}">
{% endblock %}

{% block content %}
    <main>
        <!-- Botón para añadir nuevo software -->
        <button class="add-button" id="add-software-btn">Añadir Nuevo Software</button>
        
        <!-- Primer software - PowerNet Pro -->
        <section class="product">
            <img src="{{ url_for('static', filename='img/PowernetPro.webp') }}" alt="Imagen del producto">
            <div class="product-info">
                <h2>PowerNet Pro</h2>
                <p class="description">Solución avanzada de gestión de redes eléctricas...</p>
                <h3>Funciones</h3>
                <ul class="features">
                    <!-- Listado de funciones -->
                </ul>
                <div class="price">Costo: <strong>$499.99/mes</strong></div>
                <button class="edit-button">Editar</button>
                <button class="delete-button">Eliminar</button>
            </div>
        </section>
        <!-- Otros productos aquí -->
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/RegistrarSoftware.js') }}"></script>
{% endblock %}
