{% extends "base.html" %}

{% block title %}Gestión de Inventarios - Plataforma de Gestión de Redes Eléctricas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GestionInventarios.css') }}">
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-text">
            <h2>Gestión de Inventarios Eléctricos</h2>
            <p>Monitorea y controla los productos eléctricos en tu inventario de forma eficiente.</p>
        </div>
    </section>

    <section class="search-bar">
        <input type="text" placeholder="Buscar producto..." id="searchInput">
        <button onclick="buscarProducto()">Buscar</button>
    </section>

    <section class="inventario-container-">
        <h2>Productos Disponibles</h2>
        <div id="product-list" class="product-cards">
            <!-- Los productos se cargarán dinámicamente aquí -->
        </div>
    </section>

    <section class="inventario-container">
        <h2>Productos Disponibles</h2>
        <button id="mostrar-form-btn">Agregar Producto</button>
    
        <!-- Formulario oculto inicialmente -->
        <div id="form-agregar-producto" style="display: none;">
            <form id="productoForm">
                <input type="text" placeholder="Nombre del Producto" id="nombreProducto">
                <input type="text" placeholder="Capacidad" id="capacidadProducto">
                <input type="text" placeholder="Descripción" id="descripcionProducto">
                <input type="text" placeholder="URL de la Imagen" id="imagenProducto">
                <input type="text" placeholder="Categoría" id="categoriaProducto">
                <input type="number" placeholder="Cantidad" id="cantidadProducto">
                <button type="submit">Agregar Producto</button>
            </form>
        </div>
    </section>
    

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/GestionInventarios.js') }}"></script>
{% endblock %}
