{% extends "base.html" %}

{% block title %}Informes de Intentos de Penetración de Seguridad{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/InformeSeguridadPag.css') }}">
{% endblock %}

{% block content %}
    <section class="report-section">
        <h2>Informes de Intentos de Penetración de Seguridad</h2>
        <table id="report-table" aria-describedby="Informe de intentos de penetración en la seguridad del sistema.">
            <thead>
                <tr>
                    <th>ID del Informe</th>
                    <th>Fecha</th>
                    <th>Tipo de Ataque</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="report-content">
                <!-- Los informes serán generados dinámicamente -->
            </tbody>
        </table>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/roles_navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/security_reports.js') }}"></script>
{% endblock %}
