{% extends "base.html" %}

{% block title %}Iniciar Sesión - Gestión Eléctrica{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>BIENVENIDO</h2>
        <!-- Asegúrate de que el formulario use POST -->
        <form id="login-form" method="POST" action="{{ url_for('autenticacion_bp.login') }}">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Tu correo" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Tu contraseña" required>
            </div>

            <button type="submit" class="btn">Iniciar Sesión</button>
        </form>

        <p>No tienes cuenta? <a href="{{ url_for('registro_usuario') }}">Registrarse</a></p>
        <p><a href="{{ url_for('recuperar_contraseña') }}">Olvidaste tu contraseña?</a></p>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
