<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña - Plataforma de Gestión de Redes Eléctricas</title>
    <link rel="stylesheet" href="/app/controllers/styles/footer.css">
    <link rel="stylesheet" href="/app/controllers/styles/login.css">
    <link rel="stylesheet" href="/app/controllers/styles/navbar.css">
</head>
<body>
    <header>
        <div class="navbar-container">
            <img src="/app/controllers/imagenes/logo_rayo.png" alt="Logo" class="logo" width="70" height="70">
            <h1>Gestión Eléctrica</h1>
            <nav>
                <ul id="navbar" class="nav-links">
                    <!-- El contenido del navbar será generado dinámicamente -->
                </ul>
            </nav>
        </div>
    </header>
    <script src="/app/controllers/js/roles_navbar.js"></script>
    
    <div class="container">
        <h2>Recuperar Contraseña</h2>
        <form id="password-recovery-form">
            <div class="form-group">
                <label for="email-recovery">Ingresa tu correo electrónico:</label>
                <input type="email" id="email-recovery" name="email-recovery" placeholder="Tu correo" required>
            </div>
        
            <button type="submit" class="btn">Recuperar Contraseña</button>
        </form>

        <p><a href="/app/controllers/frontend/login.html">Volver al Inicio de Sesión</a></p>
        
        <div id="recovery-message" style="margin-top: 20px;"></div>
    </div>

    <footer>
        <p>&copy; 2024 GestorElectric. Todos los derechos reservados.</p>
        <p>&copy; 2024 Plataforma de Gestión de Redes Eléctricas. Todos los derechos reservados.</p>
    </footer>

    <script src="/app/controllers/js/passwordRecovery.js"></script>
</body>
</html>
