{% extends "base.html" %}

{% block title %}Compra Exitosa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compraExitosa.css') }}">
{% endblock %}

{% block content %}
    <section class="compra-exitosa">
        <h2>¡Compra Exitosa!</h2>
        <p>Gracias por tu compra. Tu código de canje es el siguiente:</p>

        <div class="codigo-canje-container">
            <input type="text" id="codigoCanje" value="{{ codigo_compra }}" readonly>
            <button id="copiarCodigoBtn">Copiar Código</button>
        </div>

        <div class="opciones">
            <button onclick="window.location.href='/software'">Volver a Software</button>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById("copiarCodigoBtn").addEventListener("click", () => {
            const codigo = document.getElementById("codigoCanje");
            codigo.select();
            document.execCommand("copy");
            alert("Código copiado al portapapeles");
        });
    </script>
{% endblock %}
