{% extends "base.html" %}

{% block title %}Confirmar Pago{% endblock %}

{% block content %}
    <section class="product">
        <img src="{{ software.image_url }}" alt="Imagen del producto">
        <div class="product-info">
            <h2>{{ software.title }}</h2>
            <p>{{ software.description }}</p>
            <h3>Funciones</h3>
            <ul class="features">
                {% for feature in software.features %}
                    <li>{{ feature }}</li>
                {% endfor %}
            </ul>
            <div class="price">Costo: <strong>${{ software.price }}/mes</strong></div>
        </div>
    </section>

    <section class="purchase-form">
        <form id="purchase-form">
            <!-- Campo oculto para el NoSerie -->
            <input type="hidden" id="software-no-serie" value="{{ software.NoSerie }}">
        
            <label for="metodo_pago">Selecciona tu método de pago:</label>
            <select name="metodo_pago" id="metodo_pago" required>
                <option value="tarjeta_credito">Tarjeta de Crédito</option>
                <option value="paypal">PayPal</option>
                <option value="transferencia_bancaria">Transferencia Bancaria</option>
            </select>
            <button type="submit">Confirmar Compra</button>
        </form>
        
        
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/comprar_software.js') }}"></script>
{% endblock %}
