{% extends "base.html" %}

{% block title %}Informes de Redes{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/User_informe.css') }}">
{% endblock %}

{% block content %}
    <main class="container mt-4">
        <h2 class="mb-4">Informes de Redes de Clientes</h2>
        <button class="btn btn-success mb-3" id="download-pdf">Descargar como PDF</button>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 p-3">
                    <h3>Gráfico de Consumo de Energía por Cliente</h3>
                    <canvas id="energyConsumptionChart"></canvas>
                    <p class="mt-2">Este gráfico muestra el consumo de energía por cliente, permitiendo identificar patrones y optimizar la gestión de recursos.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 p-3">
                    <h3>Gráfico de Picos de Consumo</h3>
                    <canvas id="peakConsumptionChart"></canvas>
                    <p class="mt-2">Este gráfico ilustra los picos de consumo, lo que ayuda a planificar la distribución de la carga en las redes eléctricas.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 p-3">
                    <h3>Gráfico de Eficiencia Energética</h3>
                    <canvas id="energyEfficiencyChart"></canvas>
                    <p class="mt-2">Este gráfico evalúa la eficiencia energética, facilitando la identificación de áreas de mejora en el uso de la energía.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/User_informe.js') }}"></script>
{% endblock %}
