<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RegistroUsuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header>
        <div class="navbar-container">
            <img src="{{ url_for('static', filename='imagenes/logo_rayo.png') }}" alt="Logo" class="logo" width="70" height="70">
            <h1>Gestión Eléctrica</h1>
            <nav>
                <ul id="navbar" class="nav-links">
                    <!-- El contenido del navbar será generado dinámicamente -->
                </ul>
            </nav>
        </div>
    </header>
    <script>
        // Genera las rutas en el HTML usando url_for
        const homeUrl = "{{ url_for('home') }}";
        const loginUrl = "{{ url_for('login') }}";
        const soporteUrl = "{{ url_for('soporte') }}";
        const software = "{{ url_for('software') }}";
    </script>
    <script src="{{ url_for('static', filename='js/roles_navbar.js') }}"></script>
    <!-- Registro de Usuario -->
    <div class="container">
        <h2>REGISTRO DE USUARIO</h2>
        <form class="custom-report-form" method="POST" action="{{ url_for('autenticacion_bp.signup') }}">
            <div class="form-group">
                <label for="company">Nombre de la empresa:</label>
                <input type="text" id="company" name="company" placeholder="Nombre de la empresa" required>
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Tu correo" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>

            <div class="form-group">
                <label for="repeat-password">Repita Contraseña:</label>
                <input type="password" id="repeat-password" name="repeat-password" placeholder="Repita Contraseña" required>
            </div>

            <button type="submit" class="btn">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('autenticacion_bp.login') }}">Inicia Sesión</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 GestorElectric. Todos los derechos reservados.</p>
        <p>&copy; 2024 Plataforma de Gestión de Redes Eléctricas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
