{% extends "base.html" %}

{% block title %}Gestión de Software{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/software.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="inventario-container">
            <h2>Software Disponible</h2>
            <div id="product-list" class="product-cards">
                <!-- Los productos se cargarán dinámicamente aquí -->
            </div>
        </section>
        
    </main>
{% endblock %}


{% block extra_js %}
    <script src="{{ url_for('static', filename='js/software_cliente.js') }}"></script>
{% endblock %}
